.registration-steps {
  max-width: 380px;
  width: 100%;
  padding: 30px 15px 80px;
  margin: 0 auto;
  box-sizing: border-box;

  .step-number {
    font-size: 16px;
    color: #9E98A3;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 34px;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding-bottom: 25px;
  }
}
